<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    
  <h2> <%=list.title%></h2>

  <div class="card" >
  <img src="<%=list.image.url%>" class="card-img-top show-img" alt="Image">
  <div class="card-body">
    <p>
    <%=list.description%>. <br>
    <% if (list.price) { %>
     ₹ <%= list.price.toLocaleString("en-IN") %>
    <% } else { %>
     Not Available
    <% } %>  <br>

    <%=list.location%> <br>
    <%=list.country%>
    </p>
  </div>
</div>

<div class="btns gap-4 ">
  <a href="/listings/<%=list.id%>/edit" class="btn btn-dark    add-btn  px-4">Edit</a>

  <form method="post" action="/listings/<%=list.id%>?_method=DELETE">
    <button class="btn btn-dark offset-2 px-3">Delete</button>
    
  </form>
  </div>
    </div>

</div>
